@page "/"
@using Services
@using ViewModels
@inject OrderService orderService

<h3>Order</h3>

<EditForm Model="@OrderToInsert" OnSubmit="@OrderAsync" class="form">
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <InputNumber @bind-Value="@OrderToInsert.Quantity" DisplayName="Quantity" id="quantity"></InputNumber>
    </div>
    <div class="form-group">
        <label for="productName">Product Name:</label>
        <InputText @bind-Value="@OrderToInsert.ProductName" DisplayName="Product Name" id="productName"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Order</button>
</EditForm>

<div class="row" style="padding-top:40px;">
    <button @onclick="LatestOrderStatusAsync" class="btn btn-info">Refresh Status</button>
</div>
@if (LatestOrderStatus != null)
{
    <div class="row">
        <table style="padding:20px;" class="table">
            <tr>
                <td><b>Order Status</b></td>
                <td>
                    @if (LatestOrderStatus.OrderStatus == OrderStatus.Completed)
                    {
                        <b><mark>@(Enum.GetName(LatestOrderStatus.OrderStatus))</mark></b>
                    }
                    else
                    {
                        @(Enum.GetName(LatestOrderStatus.OrderStatus))
                    }
                </td>
            </tr>
            <tr>
                <td><b>Order Create Date</b></td>
                <td>@LatestOrderStatus.CreatedDate.ToString("F")</td>
            </tr>
        </table>
    </div>
}


@code {
    public InsertOrderViewModel OrderToInsert { get; set; } = new InsertOrderViewModel();
    private Guid latestOrderId = Guid.Empty;
    public StatusOrderViewModel LatestOrderStatus { get; set; }

    public async Task OrderAsync()
    {
        latestOrderId = Guid.NewGuid();
        OrderToInsert.OrderId = latestOrderId;
        await orderService.InsertOrder(OrderToInsert);
    }

    private async Task LatestOrderStatusAsync()
    {
        if (latestOrderId != Guid.Empty)
        {
            LatestOrderStatus = await orderService.GetStatusOrder(latestOrderId);
            StateHasChanged();
        }
    }
}
